
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#!" style="margin-left: 20px;"><span style="color: #5e9693;">Coffee</span><span style="color: #fff;">EGY</span></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/layout/template/home">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/layout/template/cart">Cart</a>
      </li>

    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/layout/template/profile">
          <button type="button" class="btn btn-success">
            Profile
        </button></a>
      </li>
      <li class="nav-item">
        <a (click)="OnLogOut()" routerLink="/" class="nav-link" >
          <button type="button" class="btn btn-danger">
            Log out
        </button>
      </a>
      </li>
    </ul>
  </div>
</nav>


