
<div *ngIf="!menu.length">
  <!-- <div class="spinner-border m-5" style="text-align: center;top: 50%; left: 50%;" role="status">
      <span class="sr-only"></span>
    </div> -->
    <div class="body">
      <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
</div>
<div *ngIf="menu.length">
<section class="menu" id="menu" style="background-image:url(/assets/img/img.jpeg); background-size: cover;
background-position: center;
 background-repeat: no-repeat;background-attachment: fixed;">

  <h1 style="text-align: center;"><a class="navbar-brand" href="/" style="margin-left: 180px;"><span style="color: #5e9693;">Our</span><span style="color: #fff;">Menu</span></a>
  </h1>
  <div class="box-container">
      <div class="box" *ngFor="let prod of menu">
          <img src={{prod.img}} alt="">
          <h3>{{ prod.name }}</h3>
        <div class="price">{{prod.price}}$<span>35.00EGP</span></div>
        <td ><input type="number" style="margin-left: 90px;" min="1" id="{{prod.id}}"></td>
        <a class="btn" style="margin-top: 10px;"(click)="AddToCart(prod)">Add To Cart</a>
        <a class="btn" [routerLink]="'/layout/template/product/'+prod.id" style="margin-top: 10px; margin-left: 10px;">Details</a>
      </div>
  </div>

</section>
</div>
