<section class="vh-100" >
  <div class="container py-5 h-100;background-image: url(/assets/img.jpeg);">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong gradient-custom" style="border-radius: 1rem;background-color: #FCF3CF; ">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign in</h3>
            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">Email</label>
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Enter Email" [(ngModel)]="email" />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Password</label>
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Enter Password" [(ngModel)]="password"/>
            </div>
            <!-- Checkbox -->
            <!-- <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3"> Remember password </label>
            </div>
            <div>
              <a class="fw-bold text-body" [routerLink]="['/info']" ><u>Forgot Password?</u></a>
            </div> -->
            <button style="background-color: #6F4E37;color:black;" class="btn btn-primary btn-lg btn-block" type="submit" (click)="OnLogin()">Login</button>
            <div>
              <p class="text-center text-muted mt-5 mb-0">Dont have an account?
                  <a  class="fw-bold text-body" [routerLink]="['/log/signup']" ><u>SignUp</u></a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
