.gradient-custom {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, #b08160,#c2b1a6);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, #b08160,#c2b1a6)
  }
  .container{
    min-height: calc(100vh );
    min-width: calc(100%);
    padding: 10px;
    background-image: url(../../../assets/img/img.jpeg);
  }
