<div *ngIf="!cart.length">
  <!-- <div class="spinner-border m-5" style="text-align: center;top: 50%; left: 50%;" role="status">
      <span class="sr-only"></span>
    </div> -->
    <div class="body">
      <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
</div>
<div *ngIf="cart.length">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <br>
      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Buy</th>
          </tr>
        </thead>
        <tbody *ngIf="cart">
            <tr *ngFor="let prod of cart;let i = index;">
              <td>{{ i+1 }}</td>
              <td>{{ prod.name }}</td>
              <td><img src={{prod.img}}></td>
              <td><input type="number" [(ngModel)]="prod.boughtItemsCount"></td>
              <td>{{ prod.price }}</td>
              <td><button class="btn btn-success" (click)="OnBuy(prod)">Buy</button></td>
            </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Total Price : {{ Total_price() }}</p>

    </div>
  </div>
</div>
</div>
